@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,200,700,800|Montserrat:400,700");

.root {
    font-family: 'Open sans', sans-serif;
    color: #444;
    background: #e5dabe;
    font-size: 1.8vmin;
    line-height: 3vmin;
}